.button-close {
    -fx-background-image: url("../Close-sign.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 12px;
}
.button-close:hover {
    -fx-background-image: url("../Close-sign.png");
    -fx-background-color: Red;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 12px;
}

.button-maximize {
    -fx-background-image: url("../Maximize-sign.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 12px;
}
.button-maximize:hover {
    -fx-background-image: url("../Maximize-sign.png");
    -fx-background-color: rgb(0, 0, 0, 0.3);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 12px;
}

.button-minimize {
    -fx-background-image: url("../Minimize-sign.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 12px;
}
.button-minimize:hover {
    -fx-background-image: url("../Minimize-sign.png");
    -fx-background-color: rgb(0, 0, 0, 0.3);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 12px;
}





.button-ViewPass {
    -fx-background-image: url("../Opened-eye.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}
.button-HidePass {
    -fx-background-image: url("../Closed-eye.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}





.button-menu {
    -fx-background-image: url("../Menu.png");
    -fx-background-color: transparent;
    -fx-background-position: left 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.button-home {
    -fx-background-image: url("../Home.png");
    -fx-background-color: transparent;
    -fx-background-position: left 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.button-settings {
    -fx-background-image: url("../Settings.png");
    -fx-background-color: transparent;
    -fx-background-position: left 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}

.button-password {
    -fx-background-image: url("../Password.png");
    -fx-background-color: transparent;
    -fx-background-position: left 12px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
}




.button-Next {
    -fx-background-image: url("../Next-arrow.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45px;
    -fx-background-radius: 5px;
}
.button-Next:hover {
    -fx-background-image: url("../Next-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45px;
    -fx-background-radius: 5px;
}

.button-Prev {
    -fx-background-image: url("../Prev-arrow.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
}
.button-Prev:hover {
    -fx-background-image: url("../Prev-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
}





.button-PDF-white {
    -fx-background-image: url("../PDF-Icon-white.png");
    -fx-background-color: transparent;
    -fx-background-position: right;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
}
.button-PDF-white:hover {
    -fx-background-image: url("../PDF-Icon-white.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
}

.button-PDF-black {
    -fx-background-image: url("../PDF-Icon-black.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-PDF-black:hover {
    -fx-background-image: url("../PDF-Icon-black.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 35px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}





.button-Logout {
    -fx-background-image: url("../Logout.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-border-color: #8A59EE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Logout:hover {
    -fx-background-image: url("../Logout.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-border-color: #8A59EE; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button-Delete {
    -fx-background-image: url("../Delete.png");
    -fx-background-color: transparent;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-border-color: RED; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Delete:hover {
    -fx-background-image: url("../Delete.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-border-color: RED; 
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}





.button-LeftArrow {
    -fx-background-image: url("../Left-arrow.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 15px;
    -fx-background-radius: 5px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-LeftArrow:hover {
    -fx-background-image: url("../Left-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 15px;
    -fx-background-radius: 5px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button-RightArrow {
    -fx-background-image: url("../Right-arrow.png");
    -fx-background-color: transparent;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-RightArrow:hover {
    -fx-background-image: url("../Right-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-RightArrow:focus-visible {
    -fx-background-image: url("../Right-arrow.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button-Skip {
    -fx-background-image: url("../Skip.png");
    -fx-background-color: transparent;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Skip:hover {
    -fx-background-image: url("../Skip.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Skip:focus-visible {
    -fx-background-image: url("../Skip.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button-Finish {
    -fx-background-image: url("../Finish.png");
    -fx-background-color: transparent;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Finish:hover {
    -fx-background-image: url("../Finish.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Finish:focus-visible {
    -fx-background-image: url("../Finish.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 120px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button-Finish2 {
    -fx-background-image: url("../Finish-2.png");
    -fx-background-color: transparent;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Finish2:hover {
    -fx-background-image: url("../Finish-2.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-Finish2:focus-visible {
    -fx-background-image: url("../Finish-2.png");
    -fx-background-color: #0000002a;
    -fx-background-position: right 20px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 120px;
    -fx-background-radius: 5px;
    -fx-border-color: #8A59EE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}





.button-CloseStart {
    -fx-background-image: url("../Start-close.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 22px;
}
.button-CloseStart:hover {
    -fx-background-image: url("../Start-close.png");
    -fx-background-color: #ff000088;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 22px;
}

.button-LogReg {
    -fx-background-color: transparent;
    -fx-border-color: WHITE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-LogReg:hover {
    -fx-background-color: #0000002a;
    -fx-background-radius: 5px;
    -fx-border-color: WHITE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.button-LogReg:focus-visible {
    -fx-background-color: #0000002a;
    -fx-background-radius: 5px;
    -fx-border-color: WHITE;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}




.seachField { 
    -fx-background-image: url("../Magnifier-smaller.png");
    -fx-background-position: right 10px center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px; 
}  