.button-close {
    -fx-background-image: url("../Close-White.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10px;
}
.button-close:hover {
    -fx-background-image: url("../Close-White.png");
    -fx-background-color: Red;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10px;
}

.button-maximize {
    -fx-background-image: url("../Maximize-White.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10px;
}
.button-maximize:hover {
    -fx-background-image: url("../Maximize-White.png");
    -fx-background-color: rgb(0, 0, 0, 0.3);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10px;
}

.button-minimize {
    -fx-background-image: url("../Minimize-White.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10px;
}
.button-minimize:hover {
    -fx-background-image: url("../Minimize-White.png");
    -fx-background-color: rgb(0, 0, 0, 0.3);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 10px;
}